.container {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
}

.container .mat-drawer {
  min-width: 200px;
}

.container .mat-drawer .mat-button {
  display: block;
  width: 100%;
  text-align: left;
}

.spacer {
  flex: 1 1 auto
}

.tab-icon {
  margin-right: 8px;
}

.login {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url(../assets/img/fond.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
