<form [formGroup]="userForm" (ngSubmit)="add()" autocomplete="off">
  <mat-grid-list cols="5" rowHeight="5:2">
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Nom et Prénom" formControlName="name" required>
        <mat-error *ngIf="formControls.name.invalid && (formControls.name.dirty || formControls.name.touched) && (formControls.name.errors.required)">
          Name Required
        </mat-error>
        <mat-error *ngIf="formControls.name.invalid && (formControls.name.dirty || formControls.name.touched) && (formControls.name.errors.minlength)">
          Name must be at least 5 characters long.
        </mat-error>
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" required>
        <mat-error *ngIf="formControls.email.invalid && (formControls.email.dirty || formControls.email.touched) && (formControls.email.errors.required)" >
          Email Required
        </mat-error>
        <mat-error *ngIf="formControls.email.invalid && (formControls.email.dirty || formControls.email.touched) && (formControls.email.errors.email)" >
          You must tap email format
        </mat-error>
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Téléphonne" type="number" formControlName="phone" required>
        <mat-error
          *ngIf="formControls.phone.invalid && (formControls.phone.dirty || formControls.phone.touched) && (formControls.phone.errors.required)">
          Phone Required
        </mat-error>
        <mat-error
          *ngIf="formControls.phone.invalid && (formControls.phone.dirty || formControls.phone.touched) && (formControls.phone.errors.minlength)">
          Name must be at least 10 characters long.
        </mat-error>
        <mat-icon matSuffix>contacts</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Adresse" type="text" formControlName="adress" required>
        <mat-error
          *ngIf="formControls.adress.invalid && (formControls.adress.dirty || formControls.adress.touched) && formControls.adress.errors.required">
          Adresse Required
        </mat-error>
        <mat-error
          *ngIf="formControls.adress.invalid && (formControls.adress.dirty || formControls.adress.touched) && (formControls.adress.errors.maxlength)">
          Adress must be at least 80 characters long.
        </mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Company name" type="text" formControlName="company" required>
        <mat-error
          *ngIf="formControls.company.invalid && (formControls.company.dirty || formControls.company.touched)">
          company Required.
        </mat-error>
        <mat-icon matSuffix>work</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
  <div class="center">
    <button [disabled]="!userForm.valid" mat-raised-button color="primary" class="btn-block">
      <i class="material-icons">add_circle</i> Ajouter
    </button>
  </div>
</form>
<div class="clearfix"></div>
<app-data-listed [data] = "users" [type] = 'type'></app-data-listed>
