.cars-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.cars-full-width {
  width: 70%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.client-car-case {
  margin-top: 12px;
}

.mat-card-avatar {
  width: 23px !important;
}
